* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url("../img/bg.jpg");
}

/* css generale */
#container {
  width: 60%;
  height: 100vh;
  margin: 10px auto;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.float-left {
  float: left;
}
a {
  text-decoration: none;
}
.post {
  background-color: #ffffff;
  border-radius: 5px;
}
/* /css generale */

/* css header */
/* /header top */
header .header-top {
  position: relative;
  height: 300px;
  border: 7px solid #ffffff;
  background-image: url("../img/bg-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header-top .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header-top .logo > img {
  width: 300px;
  margin-bottom: 20px;
}
h1 {
  font-size: 22px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
}
/* /header top */
/* nav */
#menu {
  position: relative;
  text-align: center;
  height: 50px;
  line-height: 47px;
  background-color: #3f474f;
}
#menu .menu-list > li {
  padding: 0 25px;
  display: inline-block;
  list-style: none;
}
#menu .menu-list > li a {
  color: #ffffff;
  font-size: bold;
  text-transform: uppercase;
}
.menu-list > li:hover {
  background-color: #76818d;
  border-bottom: 3px solid #000000;
  cursor: pointer;
}
/* /nav */
/* /css header */

/* css main */
main {
  height: 70%;
  padding-top: 10px;
}
main .left,
main .mid,
main .right {
  height: 100%;
}
main .left,
main .right {
  width: 15%;
}
main .mid {
  width: 70%;
}
.left .post-left {
  width: 100%;
  height: 35%;
}
.mid .post-mid {
  width: 80%;
  height: 27%;
  margin: auto;
}
.right .post-right {
  width: 100%;
  height: 30%;
  margin-bottom: 15px;
}
/* /css main */

/* css footer */
footer {
  height: 10%;
}
#author {
  position: relative;
  height: 30%;
  border-bottom: 1px solid lightgrey;
}
#author div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: lightgrey;
  font-style: italic;
  font-size: 10px;
}
#contact {
  height: 70%;
}
#contact .social {
  position: relative;
  width: calc(100% / 3);
  height: 100%;
}
#contact .social i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: lightgrey;
}
#contact .social i:hover {
  cursor: pointer;
  color: #000000;
  font-size: 50px;
}
/* /css footer */
