* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Montserrat',Arial,Helvetica,sans-serif;
}

body {
  background-image: url("../img/bg.jpg");
}

/* css generale */
#container {
  width: 60%;
  margin: 10px auto;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.float-left {
  float: left;
}
a {
  text-decoration: none;
}
.post {
  margin-bottom: 40px;
  padding: 5px 10px;
  background-color: #ffffff;
  border-radius: 5px;
  line-height: 20px;
}
.post h3 {
  font-size: 23px;
  font-weight: 400;
}
.post p {
  margin-top: 50px;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: bold;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* /css generale */

/* css header */
/* /header top */
header .header-top {
  position: relative;
  height: 300px;
  border: 7px solid #ffffff;
  background-image: url("../img/bg-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.header-top .logo > img {
  width: 300px;
  margin-bottom: 20px;
}
h1 {
  font-size: 22px;
  color: #ffffff;
  font-weight: 700;
}
/* /header top */
/* nav */
#menu {
  text-align: center;
  height: 50px;
  line-height: 47px;
  background-color: #3f474f;
}
#menu .menu-list > li {
  padding: 0 25px;
  display: inline-block;
  list-style: none;
}
#menu .menu-list > li a {
  color: #ffffff;
  font-size: bold;
}
.menu-list > li:hover {
  background-color: #76818d;
  border-bottom: 3px solid #000000;
  cursor: pointer;
}
/* /nav */
/* /css header */

/* css main */
main {
  padding-top: 10px;
}
main .left,
main .right {
  width: 15%;
}
main .mid {
  width: 70%;
}
/* colonna sinistra */
.left .post-left {
  width: 100%;
}
.post-left i {
  font-size: 25px;
  color: #fc9924;
}
.post-left h3 {
  margin: 0 0 10px 5px;
  text-align: center;
}
.post-left > ul {
  clear: left;
}
.post-left > ul li {
  margin-bottom: 10px;
  list-style: none;
}
.post-left > ul li a {
  color: #388c5e;
  font-weight: 700;
}
.post-left > ul li a:hover {
  text-decoration: underline;
}
/* /colonna sinistra */
/* colonna centrale */
.mid .post-mid {
  width: 80%;
  padding: 30px;
  margin: auto;
}
.mid .post-mid h3 {
  text-transform: uppercase;
  text-shadow: 3px 3px #b67222;
}
/* /colonna centrale */
/* colonna destra */
.right .post-right {
  width: 100%;
  padding: 20px;
}
/* /colonna destra */
/* /css main */

/* css footer */
footer {
  /* height: 10%; */
}
#author {
  border-bottom: 1px solid lightgrey;
}
#author div {
  padding: 2px 0;
  text-align: center;
  color: lightgrey;
  font-style: italic;
  font-size: 10px;
}
#contact {
  height: 100px;
}
#contact .social {
  position: relative;
  width: calc(100% / 3);
  height: 100%;
}
#contact .social a {
  font-size: 40px;
  color: lightgrey;
}
#contact .social a:hover {
  font-size: 50px;
}
#contact .social .fa-facebook-square:hover {
  color: #1877F2;
}
#contact .social .fa-instagram:hover {
  color: #F86B00;
}
#contact .social .fa-github:hover {
  color: #000000;
}

/* /css footer */
